*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tauler{
    width: 29rem;
    height: 29rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cuadrat{
    border: solid 1px black;
    flex: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadrat > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color : red;
    font-weight: bold;
    text-align: center;
    font-size: 50px; 
    align-items: center;

}
.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
}
.torns{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.divsTorns{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.divT{
    padding: 1.5rem 1.5rem;
    border-radius: 1.5rem;
}

#J1{
    color: black;
    background-color: rgb(255, 166, 0);
}
#J2{
    background-color:  rgb(0, 132, 255);
}

.desActiu{
    color:rgb(128, 128, 128) ;
    background-color: rgb(169, 169, 169) !important;
}
.alerts{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.alertInici{
    background-color: rgba(193, 193, 193, 0.849);
    overflow: hidden;
}
.alertInici__bloc{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color{
    background-color: rgb(0, 174, 116);
}
.color>button {
    height: 8vh;
    padding: 1.5rem 2.5rem;
    font-size: 1rem;
    font-weight: bold;
}
.hidden{
    display: none;
}

#canviarTorn{
    padding: 0.8rem 1.5rem;
    margin-left: 30px;
}

.font{
    font-size: xx-large;
}
.divGuanyador{
    background-color: rgba(0, 255, 255, 0.215);
}
.divGuanyador_bloc{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixaAlert{
    display: flex;
    gap: 2rem;
    padding: 5rem;
}
.color2{
    flex-direction: column;
    background-color: royalblue;
}
.color2>div>button{
    flex-direction: row;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}